.menu {
    border: 3px solid black;
    padding: 2em;
    margin: 2em;
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5em;

    .item-name {
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-bottom: 5px;
    }

    .price {
        font-size: 16px;
    }

    .description {
        letter-spacing: 1px;
        font-size: 14px;
        line-height: 1.7;
    }

    .delete {
        padding: 5px 10px;
        background-color: black;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        outline: none;
        margin-top: 10px;
        &:hover {
            background-color: rgba(0,0,0,0.6);
            
        }
    }
}

@media (max-width: 425px) {
    .menu {
        grid-template-columns: 1fr;
    }
}